.home-page-container{
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $mainBackground;
}


@media(min-width : 900px) {
    .home-page-container{
        flex-direction: row;
        flex-wrap: wrap;
    }
}